@media only screen and (min-width:1200px) {
.faculty{
    width: 86%;
    margin: 0 auto;
    margin-top: 30px;
    .faculty_top{
        width: 100%;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p:nth-child(1){
            color: #005bac;
            font-size: 24px;
        }
        p:nth-child(2){
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #ccc;
            img{
                width: 16px;
                height: 16px;
                margin-left: 6px;
            }
        }
    }
    .faculty_bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        div{
            background-color: white;
            width: 30%;
            // border: 1px solid black;
            padding: 40px 10px;
            box-shadow: 0 0 10px rgba(128, 128, 128, 0.5); 
            &:hover{
                background-color: aqua;
            }
            p:nth-child(1){
                font-size: 16px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p:nth-child(2){
                display: flex;
                font-size: 12px;
                color: #005bac;
                // border: 1px solid;
                // width: 100px;
                justify-content: flex-end;
                margin-top: 20px;
                img{
                    width: 16px;
                    height: 16px;
                    margin-right: 6px;
                }
            }
        }
        
    }

    .faculty_content{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        .faculty_content_left{
            width: 48%;
            height: 432px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .faculty_content_right{
            padding: 20px 20px 20px 20px;
            width: 48%;
            // border: 1px solid black;
            box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
            .p1{
                line-height: 36px;
                margin-top: 20px;
                font-size: 20px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .div1{
                margin-top: 30px;
                // border: 1px solid;
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    width: 74%;
                    height: 2px;
                    background-color: #ccc;
                }
                span{
                    display: block;
                    width:26%;
                    text-align: center;
                    font-size: 14px;
                    color: #005bac;
                }
            }
            .p2{
                letter-spacing: 2px;
                line-height: 30px;
                margin-top: 40px;
                font-size: 16px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .div2{
                display: flex;
                justify-content: space-between;
                div{
                    margin-top: 16%;
                    &:nth-child(1){
                        img{
                            width: 40px;
                            height: 40px;
                            &:nth-child(1){
                                margin-right: 20px;
                            }
                        }
                    }
                    &:nth-child(2){
                        display: flex;
                        align-items: end;
                        span{
                            font-size: 28px;
                            color: #005bac;
                        }
                        p{
                            font-size: 16px;
                            padding-bottom: 4px;
                        }
                    }
                }

            }
        }
    }



}
// 党团建设
.political{
    background-color: #f2f2f2;
    margin-top: 80px;
    padding-top: 10px;
    .political_content{
        width: 86%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        img{
            width: 28%;
            height: 390px;
        }
        .political_left{
            width: 33%;
            // border: 1px solid;

            .faculty_top{
                
                width: 100%;
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: space-between;
                display: none;
                p:nth-child(1){
                    color: #005bac;
                    font-size: 24px;
                }
                p:nth-child(2){
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: #ccc;
                    img{
                        width: 16px;
                        height: 16px;
                        margin-left: 6px;
                    }
                }
            }

            .political_left_div{
                display: flex;
                align-items: center;
                margin-top: 10px;
                margin-bottom: 16px;
                ul{
                    width:76px;
                    height: 80px;

                    // line-height: 40px;
                    // border: 1px solid red;
                    background-color: #005bac;
                    padding: 0;
                    margin: 0;
                    color: white;
                    li{
                      list-style: none;  
                      
                      text-align: center;
                    }
                    li:nth-child(1){
                        font-size: 22px;
                        margin-top: 16px;
                    }
                    li:nth-child(2){
                        font-size: 14px;
                        color: #ccc;
                        margin-top: 2px;
                    }
                }
                p{
                    background-color: white;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 20px 6px;
                }
            }
        }
        .political_left1{
            width: 33%;
            // border: 1px solid;
            .faculty_top{
                
                width: 100%;
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: space-between;
                display: none;
                p:nth-child(1){
                    color: #005bac;
                    font-size: 24px;
                }
                p:nth-child(2){
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: #ccc;
                    img{
                        width: 16px;
                        height: 16px;
                        margin-left: 6px;
                    }
                }
            }
            .political_left_div{
                display: flex;
                align-items: center;
                margin-top: 10px;
                margin-bottom: 16px;
                // margin-top: -10px;
                ul{
                    width:76px;
                    height: 80px;

                    // line-height: 40px;
                    // border: 1px solid red;
                    background-color: #005bac;
                    padding: 0;
                    margin: 0;
                    color: white;
                    li{
                      list-style: none;  
                      
                      text-align: center;
                    }
                    li:nth-child(1){
                        font-size: 22px;
                        margin-top: 16px;
                    }
                    li:nth-child(2){
                        font-size: 14px;
                        color: #ccc;
                        margin-top: 2px;
                    }
                }
                p{
                    background-color: white;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 20px 6px;
                }
            }
        }
    }
}
// 技能大赛
.skill{
    width: 86%;
    margin: 0 auto;
    margin-top: 80px;
    .faculty_top{
        width: 100%;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p:nth-child(1){
            color: #005bac;
            font-size: 24px;
        }
        p:nth-child(2){
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #ccc;
            img{
                width: 16px;
                height: 16px;
                margin-left: 6px;
            }
        }
    }
    .skill_content{
        margin-top: 20px;
        width: 100%;
        .el-carousel__item{
            width: 100%;
        }
        .el-carousel__item .aaa {
            position: relative;
            // border: 1px solid black;
            width: 40%;
            // height: 100px;
            img{
                width: 100%;
                height:254px;
            }
            div{
                background-color: rgba(0, 0, 255, 0.5);
                width: 200px;
                height: 160px;
                padding: 10px;
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px,10px;
                p:nth-child(1){
                    font-size: 14px;
                    width: 88px;
                    padding: 4px;
                    text-align: center;
                    background-color: yellow;
                }
                p:nth-child(2){
                    color: white;
                    font-size: 18px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                img{
                    width: 30px;
                    height:30px;
                }
            }
          }

    }
    .skill_content2{
        display: none;
    }
}
// 教研成果
.news_top{
	text-align: center;
	
}
.news_top p:nth-child(1){
	color: white;
	font-size: 22px;
	/* background: linear-gradient(to bottom, #ccc,white); */
}
.news_top p:nth-child(2){
	color: #005bac;
	font-size: 28px;
	font-weight: bold;
	margin-top: -30px;
}
.theme{
	margin-top: 80px;
	padding-top: 20px;
	// background-color: blue;
    background-image: url('../img/1.jpg');
    background-repeat:no-repeat;
	background-size:100% 100%;
	padding-bottom: 60px;
}
.theme_none1{
    display: none;
}
.theme_content{
	
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 70px;
}
.theme-card1{
	width:22.6%;
	border-radius:10px;
	background-color: #fff;
	text-align: center;
	align-items: center;
}
.theme-card1:hover{
	transform:translateY(-15px);
	.theme-top{
		background-image: url('../img/16.png');
		background-color: rgba(166,198,226,0.9);
		background-repeat:no-repeat;
		background-size: 100%;
		background-size: 100% 120%;
	}
	.theme-text1{
		display: none;
	}
	.theme-text2{
		display: block;
	}
	.theme-title1{
		display: none;
	}
	.theme-title2{
		display: block;
	}
}
.theme-top{
	padding:20% 10% 17% 10%;
	line-height:24px;
	color: #fff;
	font-size:1rem;
	letter-spacing: 2px;
	background-image: url('../img/17.png');
	background-repeat:no-repeat;
	background-size: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	background-size:100% 100%;
	height:96px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.theme-title2{
	display: none;
}
.theme-bottom{
	padding:6%;
	line-height: 22px;
	font-size:14px;
	height:100px;
	color:#5B5B5B
}
.theme-text2{
	display: none;
}
// 学生动态
.children{
    width: 86%;
    margin: 0 auto;
    margin-top: 80px;
    .faculty_top{
        width: 100%;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        p:nth-child(1){
            color: #005bac;
            font-size: 24px;
        }
        p:nth-child(2){
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #ccc;
            img{
                width: 16px;
                height: 16px;
                margin-left: 6px;
            }
        }
    }
    .children_content{
        display: flex;
        justify-content: space-between;
        .children_content_img1{
            width: 49%;
            border-radius: 10px;
            position: relative;
            div{
                position: absolute;
                top: 10%;
                left: 10%;
                color: white;
                text-align: center;
                border: 1px solid white;
                // padding: 180px 200px;
                width: 82%;
                height: 78%;
                // line-height: 100%;
                p{
                    &:nth-child(1){
                    font-size: 24px;
                    margin-top: 30%;
                    }
                    &:nth-child(2){
                        margin-top: 16px;
                       a{
                        margin: 0 auto;
                        display: block;
                        color: white;
                        text-decoration: none;
                        width: 120px;
                        height: 40px;
                        font-size: 18px;
                        line-height: 40px;
                        background-color: orange;
                    } 
                    }
                    
                }
                
            }
            img{
                width: 100%;
            }
            &:hover{
                transform: scale(1.02);
            }
        }
        .div2{
            width: 49%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            div{
                width: 48%;
                position: relative;
                &:nth-child(1){
                    margin-bottom: 20px;
                }
                &:nth-child(2){
                    margin-bottom: 20px;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
                p{
                    position: absolute;
                    bottom: 6px;
                    color: white;
                    font-size: 14px;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
// 友情链接
.frendlly{
    margin: 0 auto;
    display: flex;
    width: 86%;
    margin: 0 auto;
    
    // margin: 0;
    padding: 0;
    margin-top: 40px;

    li{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 140px;
        text-align: center;
        font-size: 14px;
        &:nth-child(1){
            font-size: 16px;
            font-weight: bold;
            width: 100px;
            text-align: left;
            // padding-top: -100px;
            margin-top: -2px;
        }
    }
}
}






@media only screen and (max-width:1200px){
    .faculty{
        width: 94%;
        margin: 0 auto;
        .faculty_top{
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #005bac;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            p:nth-child(1){
                color: #005bac;
                font-size: 18px;

            }
            p:nth-child(2){
                display: flex;
                align-items: center;
                font-size: 10px;
                color: #ccc;
                height: 38px;
                img{
                    width: 16px;
                    height: 16px;
                    margin-left: 6px;
                    display: block;
                }
            }
        }
        .faculty_bottom{
            width: 100%;
            margin: 0 auto;
            // display: flex;
            // justify-content: space-between;
            // margin-top: 20px;
            div{
                background-color: white;
                width: 94%;
                margin: 0 auto;
                // border: 1px solid black;
                padding: 20px 10px;
                box-shadow: 0 0 10px rgba(128, 128, 128, 0.5); 
                margin-top: 20px;
                &:hover{
                    background-color: #005bac;
                }
                p:nth-child(1){
                    font-size: 12px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p:nth-child(2){
                    margin-top: 10px;
                    display: flex;
                    font-size: 10px;
                    color: #005bac;
                    // border: 1px solid;
                    // width: 100px;
                    justify-content: flex-end;
                    align-items: center;
                    img{
                        width: 12px;
                        height: 12px;
                        margin-right: 6px;
                    }
                }
            }
            
        }
        .faculty_content{
            margin-top: 30px;
            margin-bottom: 30px;
            // display: flex;
            // justify-content: space-between;
            .faculty_content_left{
                width: 100%;
                height: 246px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .faculty_content_right{
                padding: 20px 20px 20px 20px;
                width: 88%;
                // border: 1px solid black;
                box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
                .p1{
                    line-height: 30px;
                    margin-top: 20px;
                    font-size: 18px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .div1{
                    margin-top: 20px;
                    // border: 1px solid;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        width: 46%;
                        height: 2px;
                        background-color: #ccc;
                    }
                    span{
                        display: block;
                        width:52%;
                        text-align: center;
                        font-size: 14px;
                        color: #005bac;
                    }
                }
                .p2{
                    letter-spacing: 2px;
                    line-height: 24px;
                    margin-top: 20px;
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .div2{
                    display: flex;
                    justify-content: space-between;
                    margin-top: -20px;
                    div{
                        margin-top: 16%;
                        &:nth-child(1){
                            img{
                                width: 40px;
                                height: 40px;
                                &:nth-child(1){
                                    margin-right: 20px;
                                }
                            }
                        }
                        &:nth-child(2){
                            display: flex;
                            align-items: end;
                            span{
                                font-size: 28px;
                                color: #005bac;
                            }
                            p{
                                font-size: 16px;
                                padding-bottom: 4px;
                            }
                        }
                    }
    
                }
            }
        }
    }
    // 党团建设
    .political{
        background-color: #f2f2f2;
        margin-top: 80px;
        padding-top: 10px;
        .political_content{
            width: 94%;
            margin: 0 auto;
            // display: flex;
            // justify-content: space-between;
            img{
                display: none;
                width: 33%;
                // height: 480px;
            }
            .political_left{
                width: 100%;
                // border: 1px solid;
                .faculty_top{
                    width: 100%;
                    height: 30px;
                    // border: 1px solid black;
                    border-bottom: 1px solid #005bac;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p:nth-child(1){
                        color: #005bac;
                        font-size: 18px;
                    }
                    p:nth-child(2){
                        display: flex;
                        align-items: center;
                        font-size: 10px;
                        color: #ccc;
                        height: 38px;
                        img{
                            width: 16px;
                            height: 16px;
                            margin-left: 6px;
                            display: block;
                        }
                    }
                }
                .political_left_div{
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    ul{
                        width:100px;
                        height: 62px;
    
                        // line-height: 40px;
                        // border: 1px solid red;
                        background-color: #005bac;
                        padding: 0;
                        margin: 0;
                        color: white;
                        li{
                          list-style: none;  
                          
                          text-align: center;
                        }
                        li:nth-child(1){
                            font-size: 18px;
                            margin-top: 10px;
                        }
                        li:nth-child(2){
                            font-size: 10px;
                            color: #ccc;
                            margin-top: 2px;
                        }
                    }
                    p{
                        font-size: 14px;
                        background-color: white;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 14px 6px;
                    }
                }
            }
            .political_left1{
                width: 100%;
                // border: 1px solid;
                .faculty_top{
                    width: 100%;
                    height: 30px;
                    border-bottom: 1px solid #005bac;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 10px;
                    p:nth-child(1){
                        color: #005bac;
                        font-size: 18px;

                    }
                    p:nth-child(2){
                        display: flex;
                        align-items: center;
                        font-size: 10px;
                        color: #ccc;
                        height: 38px;
                        img{
                            width: 16px;
                            height: 16px;
                            margin-left: 6px;
                            display: block;
                        }
                    }
                }
                .political_left_div{
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                    margin-top: 10px;
                    ul{
                        width:100px;
                        height: 62px;
    
                        // line-height: 40px;
                        // border: 1px solid red;
                        background-color: #005bac;
                        padding: 0;
                        margin: 0;
                        color: white;
                        li{
                          list-style: none;  
                          
                          text-align: center;
                        }
                        li:nth-child(1){
                            font-size: 18px;
                            margin-top: 10px;
                        }
                        li:nth-child(2){
                            font-size: 10px;
                            color: #ccc;
                            margin-top: 2px;
                        }
                    }
                    p{
                        font-size: 14px;
                        background-color: white;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 14px 6px;
                    }
                }
            }
        }
    }
    // 技能大赛
    .skill{
        width: 94%;
        margin: 0 auto;
        margin-top: 80px;
        // display: none;
        .faculty_top{
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #005bac;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            p:nth-child(1){
                color: #005bac;
                font-size: 18px;

            }
            p:nth-child(2){
                display: flex;
                align-items: center;
                font-size: 10px;
                color: #ccc;
                height: 38px;
                img{
                    width: 16px;
                    height: 16px;
                    margin-left: 6px;
                    display: block;
                }
            }
        }
        .skill_content{
            display: none;
            margin-top: 20px;
            width: 100%;
            .el-carousel__item{
                width: 100%;
            }
            .el-carousel__item .aaa {
                position: relative;
                // border: 1px solid black;
                width: 40%;
                // height: 100px;
                img{
                    width: 100%;
                    height: 100%;
                }
                div{
                    background-color: rgba(0, 0, 255, 0.5);
                    width: 200px;
                    height: 160px;
                    padding: 10px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px,10px;
                    p:nth-child(1){
                        font-size: 14px;
                        width: 88px;
                        padding: 4px;
                        text-align: center;
                        background-color: yellow;
                    }
                    p:nth-child(2){
                        color: white;
                        font-size: 18px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    img{
                        width: 30px;
                        height:30px;
                    }
                }
              }
    
        }
        .skill_content2{
            width: 100%;
            margin: 0 auto;
            .aaa {
                position: relative;
                // border: 1px solid black;
                width: 100%;
                // height: 100px;
                margin-top: 20px;
                img{
                    width: 100%;
                    height: 100%;
                }
                div{
                    background-color: rgba(0, 0, 255, 0.5);
                    width: 180px;
                    height: 110px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px,10px;
                    p:nth-child(1){
                        margin-top: 16px;
                        margin-bottom: 6px;
                        margin-left: 10px;
                        font-size: 10px;
                        width: 88px;
                        padding: 2px;
                        text-align: center;
                        background-color: yellow;
                    }
                    p:nth-child(2){
                        color: white;
                        font-size: 10px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-right: 14px;
                        padding-left: 11px;
                    }
                    img{
                        width: 20px;
                        height:20px;
                        margin-left: 10px;
                        margin-top: 6px;
                    }
                }
              }
    
        }
    }
    // 教研成果
    .news_top{
        text-align: center;
        
    }
    .news_top p:nth-child(1){
        color: white;
        font-size: 16px;
        /* background: linear-gradient(to bottom, #ccc,white); */
    }
    .news_top p:nth-child(2){
        color: #005bac;
        font-size: 22px;
        font-weight: bold;
        margin-top: -26px;
    }
    .theme{
        margin-top: 50px;
        padding-top: 20px;
        // background-color: blue;
        background-image: url('../img/1.jpg');
        background-repeat:no-repeat;
        background-size:100% 100%;
        padding-bottom: 60px;
    }
    .theme_none1{
        // display: none;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #005bac;
        font-size: 12px;
        padding-bottom: 10px;
        margin-top: -6px;
        margin-right: 24px;
        img{
            margin-right: 6px;
            width: 14px;
            height: 14px;
        }
    }
    .theme_content{
        
        width: 94%;
        margin: 0 auto;
        margin-top: 22px;
    }
    .theme-card1{
        width:100%;
        border-radius:10px;
        background-color: #fff;
        text-align: center;
        align-items: center;
        margin-top: 20px;
    }
    .theme-card1:hover{
        transform:translateY(-15px);
        .theme-top{
            background-image: url('../img/16.png');
            background-color: rgba(166,198,226,0.9);
            background-repeat:no-repeat;
            background-size: 100%;
            background-size: 100% 120%;
        }
        .theme-text1{
            display: none;
        }
        .theme-text2{
            display: block;
        }
        .theme-title1{
            display: none;
        }
        .theme-title2{
            display: none;
        }
    }
    .theme-top{
        padding:20% 10% 17% 10%;
        line-height:24px;
        color: #fff;
        font-size:1rem;
        letter-spacing: 2px;
        background-image: url('../img/17.png');
        background-repeat:no-repeat;
        background-size: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        background-size:100% 100%;
        height:44px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        // display: none;
    }
    .theme-title1{
        display: none;
    }
    .theme-title2{
        display: none;
    }
    .theme-bottom{
        // padding:6%;
        line-height: 22px;
        font-size:14px;
        height:80px;
        color:#5B5B5B
    }
    .theme-text2{
        display: none;
    }
    // 学生动态
    .children{
        width: 94%;
        margin: 0 auto;
        margin-top: 40px;
        .faculty_top{
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #005bac;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            p:nth-child(1){
                color: #005bac;
                font-size: 18px;

            }
            p:nth-child(2){
                display: flex;
                align-items: center;
                font-size: 10px;
                color: #ccc;
                height: 38px;
                img{
                    width: 16px;
                    height: 16px;
                    margin-left: 6px;
                    display: block;
                }
            }
        }
        .children_content{
            // display: flex;
            // justify-content: space-between;
            margin-top: 10px;
            .children_content_img1{
                width: 100%;
                border-radius: 10px;
                position: relative;
                div{
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    color: white;
                    text-align: center;
                    border: 1px solid white;
                    // padding: 180px 200px;
                    width: 82%;
                    height: 78%;
                    // line-height: 100%;
                    p{
                        &:nth-child(1){
                        font-size: 24px;
                        margin-top: 30%;
                        }
                        &:nth-child(2){
                            margin-top: 16px;
                           a{
                            margin: 0 auto;
                            display: block;
                            color: white;
                            text-decoration: none;
                            width: 120px;
                            height: 40px;
                            font-size: 18px;
                            line-height: 40px;
                            background-color: orange;
                        } 
                        }
                        
                    }
                    
                }
                img{
                    width: 100%;
                }
                &:hover{
                    transform: scale(1.02);
                }
            }
            .div2{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                div{
                    width: 48%;
                    position: relative;
                    height: 100px;
                    &:nth-child(1){
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }
                    &:nth-child(2){
                        margin-bottom: 10px;
                        margin-top: 10px;

                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    p{
                        position: absolute;
                        bottom: 0px;
                        color: white;
                        // border: 1px solid;
                        height: 20px;
                        font-size: 12px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
    // 友情链接
    .frendlly{
        margin: 0 auto;
        display: flex;
        width: 86%;
        margin: 0 auto;
        display: none;
        // margin: 0;
        padding: 0;
        margin-top: 40px;
    
        li{
            margin: 0;
            padding: 0;
            list-style: none;
            width: 140px;
            text-align: center;
            font-size: 14px;
            &:nth-child(1){
                font-size: 16px;
                font-weight: bold;
                width: 100px;
                text-align: left;
                // padding-top: -100px;
                margin-top: -2px;
            }
        }
    }
    
} 